@use "@/shared/styles/breakpoints" as *;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--spacing-lg);
  list-style: none;
  width: 100%;

  @include md-up {
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--spacing-md);
  }
}
