@font-face {
  font-family: "Fixel Display";
  src: url("@/shared/assets/fonts/FixelDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Fixel Display";
  src: url("@/shared/assets/fonts/FixelDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Fixel Display";
  src: url("@/shared/assets/fonts/FixelDisplay-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Fixel Text";
  src: url("@/shared/assets/fonts/FixelText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Fixel Text";
  src: url("@/shared/assets/fonts/FixelText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Fixel Text";
  src: url("@/shared/assets/fonts/FixelText-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: optional;
}

// font-display: optional; - это оптимизация, убирает прыжок шрифта при загрузке страницы
// Можно перенести в public/fonts/ для лучшей оптимизации
