/* ── Textarea ── */

.textarea {
  width: 100%;
  font-family: var(--font-text);
  color: var(--text-primary);
  background-color: var(--background-primary);
  border: 1px solid var(--border-secondary);
  border-radius: var(--radius-md);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  font-weight: var(--font-weight-regular);
  box-shadow: var(--shadow-xs);
  outline: none;
  resize: none;
  transition:
    border-color 0.15s ease,
    box-shadow 0.15s ease;

  &::placeholder {
    color: var(--text-secondary);
  }

  &:focus {
    border-color: var(--border-focus);
    box-shadow: var(--shadow-focus);
  }
}

.labelText {
  line-height: var(--line-height-xs);
}

/* ── Size ── */

.sizeSm {
  padding: var(--spacing-sm) var(--size-14);
  min-height: 236px;
}

/* ── Variant: error ── */

.variantError {
  border-color: var(--border-error);

  &:focus {
    border-color: var(--border-error);
    box-shadow: var(--shadow-error);
  }
}

/* ── State: disabled ── */

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  resize: none;
}
